.navbar-inverse{
  background-color:rgb(243, 3, 3);
}

.navbar-inverse .navbar-nav>.active>a{
  background-color:rgb(70, 136, 32);
}

.navbar-inverse .navbar-nav>li>a{
  color:white;
}

.navbar-inverse .navbar-brand{
  color:white;
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:darkorange;
}